.detail-newyork,
.new-york-city {
  position: absolute;
  top: 267px;
  left: 118px;
}
.detail-newyork {
  top: 301px;
  left: 24px;
  font-weight: 300;
  font-family: var(--font-montserrat);
  color: var(--color-darkslategray);
  display: inline-block;
  width: 351px;
}
.book-now3 {
  position: relative;
}
.loginbut3 {
  position: absolute;
  top: 603px;
  left: 284px;
  background-color: var(--color-dimgray);
  width: 90px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.weather2 {
  font-family: var(--font-open-sans);
}
.costs-can-vary {
  font-weight: 600;
}
.cost-per-day-costs-can-vary {
  margin: 0;
}
.days3 {
  font-weight: 600;
  font-family: var(--font-open-sans);
}
.trivia-newyork {
  position: absolute;
  top: 513px;
  left: 24px;
}
.pexels-mohamed-almari-2168974-icon {
  position: absolute;
  top: 17px;
  left: 24px;
  width: 351px;
  height: 232px;
  object-fit: cover;
}
.newyork {
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 400px;
  height: 656px;
  overflow: hidden;
  flex-shrink: 0;
}
.miami-florida {
  position: absolute;
  top: 267px;
  left: 151px;
}
.june-to-august {
  margin: 0;
  font-weight: 600;
}
.trivia-miami {
  position: absolute;
  top: 511px;
  left: 24px;
  display: inline-block;
  width: 621px;
}
.grand-canyon-arizona {
  position: absolute;
  top: 267px;
  left: 124px;
}
.trivia-gc {
  top: 511px;
  left: 24px;
}
.intro,
.trivia-gc,
.usa1 {
  position: absolute;
}
.usa1 {
  top: 257px;
  left: 74px;
  width: 1294px;
  height: 656px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-28xl);
  font-family: var(--font-open-sans);
}
.intro {
  top: 158px;
  left: calc(50% - 626px);
  font-size: var(--font-size-lg);
  font-weight: 300;
  color: var(--color-gray-200);
  text-align: center;
  display: inline-block;
  width: 1252px;
}
.b5,
.div1 {
  position: absolute;
  top: 0;
  left: 0;
}
.div1 {
  left: 36px;
  font-size: var(--font-size-sm);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-blueviolet);
}
.b6 {
  top: 0;
  left: 67px;
}
.b6,
.pageno1,
.usa2 {
  position: absolute;
}
.pageno1 {
  top: 969px;
  left: 682px;
  width: 77px;
  height: 20px;
  text-align: center;
  font-size: var(--font-size-base);
}
.usa2 {
  top: 17px;
  left: calc(50% - 110px);
  font-size: var(--font-size-81xl);
}
.usa {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
